@page "/pendingblocks"
@using CP380_B1_BlockList.Models
@using CP380_B3_BlockBlazor.Data
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@inject PendingTransactionService _services
<!-- TODO: Add using and inject statements -->

<h3>Blocks</h3>

@if (paylist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    var POSITION = 1;

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Transaction</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var det in paylist)
            {

                <tr>
                    <td>@POSITION</td>
                    <td>@det.user</td>
                    <td> @det.amount</td>
                    <td>@det.transactiontype</td>
                    <td>@det.item</td>
                </tr>

                POSITION++;
            }
        </tbody>
        <!-- TODO: Add cards for each block in the block list

                 Each card should show:
                      - the position in the chain (starting at 0)
                      - the hash
                      - the nonce
                      - the previous hash
        -->
    </table>

}

@code {
    IEnumerable<CP380_B1_BlockList.Models.Payload> paylist;
    protected override async Task OnInitializedAsync()
    {
        paylist = await _services.GetP();
    }
}
